.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Kotlin ###
.kotlin
kotlin-js-store/

### Android ###
local.properties
captures/
.externalNativeBuild
.cxx
*.apk
*.aar
*.ap_

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db

### Application ###
config.json
*.log
.history/
